.nav-link {
  color: rgba(255, 255, 255, 0.75) !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffc107 !important; /* yellow hover */
}

.active-link {
  color: #ffffff !important;
  border-bottom: 2px solid #ffc107;
}

.navbar {
  background: #0b1c2e !important; /* premium dark blue */
}
