.policy-card {
  padding: 25px;
  border-radius: 15px;
  background: white;
  transition: all 0.3s ease;
}

.policy-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.icon-area {
  background: #eef3ff;
  padding: 15px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-icon {
  width: 40px;
}
