.appointment-bg {
  height: 100vh;
  background: linear-gradient(135deg, #e0f7ff 0%, #e8ffe5 100%);
  padding: 40px;
}

.appointment-card {
  background: white;
  width: 450px;
  padding: 40px;
  border-radius: 15px;
  margin: auto;
}
