.dash-bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #dff8ff, #eaf7ec);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.dash-card {
  background: white;
  width: 450px;
  padding: 35px;
  border-radius: 15px;
}

.dash-section {
  background: #f6faff;
  border-radius: 10px;
}
