.home-hero {
  height: 90vh;
  padding: 60px;
  border-radius: 20px;

  background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../assets/insurance-bg.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);

  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.btn-warning,
.btn-light {
  border-radius: 30px;
}
