.details-container {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.details-card {
  width: 600px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.policy-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.policy-desc {
  color: #555;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 8px;
  color: #444;
}

span {
  color: #0d6efd;
  font-weight: bold;
}
