.register-bg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;   /* CENTER!! */
  background: linear-gradient(135deg, #e3f2fd, #ffffff);
  padding: 20px;
}

.register-card {
  background: white;
  padding: 40px;
  width: 420px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
